/* variables */
:root {
  --background: #000f00;
  --tomato-red: #f70d1a;
  --tomato-green: #006400;
}

/* reset */
html {
  overflow-x: hidden;
}

body * {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* base styles */
html {
  font-family: system-ui, sans-serif;
}

body {
  background: var(--background);
  color: white;
  overflow-x: hidden;
}

main {
  padding: 0 7vw 0 7vw;
}

.input {
  line-height: 30px;
}

button {
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
  margin-top: 15px;
}

/* custom checkbox */
.checkbox-container {
  font-family: system-ui, sans-serif;
  font-size: clamp(1rem, 5vw, 2rem);
  line-height: 1.1;
  display: grid;
  grid-template-columns: auto 1em;
  gap: 0.5em;
}

.checkbox-container + .checkbox-container {
  margin-top: 1em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--tomato-green);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* custom sliders */
.slider-container > input {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 1em;
  background: #ccc;
  outline: none;
  opacity: 0.7;
}

input[type="range"]:hover {
  opacity: 0.9;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  border: none;
  border-radius: 1em;
  background-color: var(--tomato-green);
  transition: 0.2s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  cursor: pointer;
  width: 1.3em;
  height: 1.3em;
  border: none;
  border-radius: 1em;
  background-color: var(--tomato-green);
  transition: 0.2s ease-in-out;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.5);
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.5);
}

#pomodoro-amount-slider::-webkit-slider-thumb {
  background-color: var(--tomato-red);
}

#pomodoro-amount-slider::-moz-range-thumb {
  background-color: var(--tomato-red);
}

/* charts */
#chart-container {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  margin: auto;
  max-width: 75vw;
}
