/* variables */
:root {
  --primary: #000f00;
  --secondary: #f70d1a;
  --tertiary: #006400;
}

/* reset */
html {
  overflow-x: hidden;
}

body * {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* base styles */
body {
  background: var(--primary);
  color: white;
  overflow-x: hidden;
}

main {
  padding: 0 7vw 0 7vw;
}

.input {
  line-height: 30px;
}

button {
  border-radius: 5px;
  background-color: none;
  border: 2px solid black;
  margin-top: 15px;
}

/* checkbox */
.checkbox-container {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.checkbox-container + .checkbox-container {
  margin-top: 1em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--tertiary);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* custom sliders */
.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 6px;
  border-radius: 15px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
}

.slider:hover {
  opacity: 0.9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--tertiary);
  transition: 0.2s ease-in-out;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--tertiary);
}

#pomodoro-amount::-webkit-slider-thumb {
  background-color: var(--secondary);
}

#pomodoro-amount::-moz-range-thumb {
  background-color: var(--secondary);
}

#chart-container {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  margin: auto;
  max-width: 75vw;
}
